<h2>Make a wish</h2>

<%= form_for(@wish) do |f| %>
    <div><%= f.label :wish_for %>
      <br/>
      <%= f.text_field :wish_item %></div>

    <div><%= f.label :due_date %>
      <br/>
      <%= f.text_field :due_date ,placeholder: "yyyy-mm-dd"%></div>

    </div>

    <div><%= f.label :quantity %>
      <br/>
      <%= f.text_field :quantity %></div>


    <div><%= f.label :help_type %>
      <br/>
      <%= f.select :help_type_id, options_for_select(HelpType.all.collect {|h| [ h.name, h.id ] }) %>

      <div><%= f.label :purpose %>
        <br/>
        <%= f.select :purpose_id, options_for_select(Purpose.all.collect {|p| [ p.name, p.id ] }) %></div>

      <h4 class='black'>Needy's Information</h4>
      Name: <input type="text" name="name" >
      Age: <input type="text" name="age" >
      Country: <input type="text" name="country" >

      <div><%= f.submit "Sign up" %></div>
<% end %>