<table>
  <tr>
    <th>USER NAME</th>
    <td><%= @wish.user.name %></td>
  </tr>
  <tr>
    <th>EMAIL</th>
    <td><%= @wish.user.email %></td>
  <tr>
  <tr>
    <th>CONTACT NUMBER</th>
    <td><%= @wish.user.contact_no %></td>
  </tr>
  <tr>
    <th>NAME OF THE PERSON WHO NEEDS YOUR HELP</th>
    <td><%= @wish.needy.name %></td>
  </tr>
  <tr>
    <th>COUNTRY OF THE PERSON</th>
    <td><%= @wish.needy.country %></td>
  </tr>
  <tr>
    <th>DUE DATE</th>
    <td><%= @wish.due_date %></td>
  </tr>
  <tr>
    <th>PURPOSE</th>
    <td><%= Purpose.find(@wish.purpose_id).name %></td>
  </tr>

  <tr>
    <th>KIND OF HELP NEEDED</th>
    <td><%= HelpType.find(@wish.help_type_id).name %></td>
  </tr>
  <tr>
    <th>ITEM WISHED FOR</th>
      <td><%= @wish.wish_item %></td>

  </tr>
  <tr>
    <th>QUANTITY </th>
      <td><%= @wish.quantity %></td>

  </tr>
  <tr>
    <th>PERCENTAGE FULFILLED</th>
      <td><%= @wish.percent_fullfilled %></td>
  </tr>

</table>
<table>
<% if current_user == nil%>
   <tr></tr> <td><%= link_to "Donate after SignIn", {:controller => 'devise/sessions', :action => 'new'}, {:class => 'button'} %></td>
    <td><%= link_to "Donate Anonymously", contributions_path(@wish.id), :method=> 'get',:class => 'button' %></td></tr>
<% else %>
    <tr><td><%= link_to "Donate now", contributions_path(@wish.id), :method=>'get', :class => 'button' %><td>`</td><tr>
<% end %>
</table>

