<table>
  <th>ID</th>
  <th>DUE_DATE</th>
  <th>ITEM NEEDED</th>
  <th>PERCENTAGE FULFILLED</th>
  <% @wishes.each do |wish| %>
      <tr>
      <td><%= wish.id %></td>
      <td><%= wish.due_date %></td>
      <td><%= wish.wish_item %></td>
      <td><%= wish.percent_fullfilled %></td>
      <td><%= link_to 'SEE MORE DETAILS', show_wish_path(wish.id), method: 'get' , class: 'button' %></td>
      </tr>
  <% end %>
</table>


